{{ attach_library('rte_mis_gin/rte_mis_homepage') }}
{% set local_actions_block = active_admin_theme ~ '_local_actions' %}

<div class="gin-secondary-toolbar header-navigation-wrapper region-sticky">
  <div class="gin-breadcrumb-wrapper">
  {% if route_name == 'entity.node.canonical' %}
    <div class="region region-breadcrumb gin-region-breadcrumb">
      <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item">
            {% if entity_edit_url and entity_title %}
              <a class="breadcrumb__link gin-back-to-admin" href="{{ entity_edit_url }}">{{ 'Edit %title'|t({'%title': entity_title}) }}</a>
            {% else %}
              <a class="breadcrumb__link gin-back-to-admin" href="{{ path('system.admin_content') }}">{{ 'Back to Administration'|t }}</a>
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
  {% else %}
    {{ page.breadcrumb }}
  {% endif %}
  </div>
  {{ page.gin_secondary_toolbar }}
</div>

<div class="content-wrapper homepage-wrapper">
    <div class="hero-banner-wrapper">
      <div class="hero-banner-content">
        <div class="notifications-wrapper">
          <h2>{% trans "Notifications" %}</h2>
          {{ drupal_view('notifications', 'notifications') }}
        </div>

        {# --- NEWS BUTTON ADDED HERE --- #}
        <div class="homepage-news-button">
          <a href="/news" class="btn-news">News</a>
        </div>
        {# --- END NEWS BUTTON --- #}

        <div class="total-allotment-wrapper">
          {% if total_allotment %}
            <div class="total-allotment">
              <h3>{{ total_allotment.total }}</h3>
              <p>{{ total_allotment.text }}</p>
              <p class="allotment-year">({% trans 'AY' %} {{ total_allotment.year_range }})</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="hero-banner-image">
        <div class="banner-image">
          <img src="{{ banner_image_url ?? 'profiles/contrib/rte-mis/modules/rte_mis_home/assets/banner/banner_image.webp' }}" alt="Banner Image">
        </div>
      </div>
    </div>

    {{ page.content|without(local_actions_block) }}
  </main>
</div>
