<div class="eligibility-criteria-block">
  <div class="block-items">
    <div class="block-item">
      <h3>{% trans "Class & Age" %}</h3>
      <ul>
        {% for class, age in class_ages %}
          <li>{{ class }}: {{ age }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="block-item">
      <h3>{% trans "Category" %}</h3>
      <ul>
        {% for other, value in categories %}
          <li>{{ other }}: {{ value }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="block-item">
      <h3>{% trans "Others" %}</h3>
      <ul>
        {% for other, value in others %}
          <li>{{ other }}: {{ value }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="seat-now">
    <h3>{% trans "Book A Seat Now" %}</h3>
    <p>{% trans "Secure your seat now for a transformative journey towards education equity and empowerment! Learn about the universal right to education, its significance, and how to advocate for it. Join us in shaping a world where every individual enjoys access to quality education, unlocking boundless opportunities and potential." %}</p>
    <div class="eligibility-criteria-cta">
      {% if student_registration_status %}
        <a href={{ path('rte_mis_student.login.form') }} class="apply-link">{% trans "Apply Now" %}</a>
      {% else %}
        <a href="#" class="apply-link disabled" onclick="return false;">{% trans "Apply Now" %}</a>
      {% endif %}
    </div>
  </div>
</div>
