{#
/**
 * @file
 * Theme implementation for the Two Column Block.
 */
#}
<div class="two-column-block">
  {% if image %}
    <div class="two-column-block__image">
      <img src="{{ image }}" alt="{{ title }}">
    </div>
  {% else %}
    <div class="two-column-block__image">
      <img src="/profiles/contrib/rte_mis/modules/rte_mis_home/assets/two_column_block/two_column_image.jpeg" alt="{{ title }}">
    </div>
  {% endif %}
  <div class="two-column-block__content">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
    {% if link %}
      <a href="{{ link }}" class="two-column-block__link">Learn More</a>
    {% endif %}
  </div>
</div>
