{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
<style>
.eck-entity header {
  text-align: center;
}
.eck-entity header img {
  height: 150px;
  width: 150px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tbody {
  text-align: center;
}
.location-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}
.location-details h2 {
  text-align: center;
}
.location-details table {
  text-align: center;
}
.student-pdf-content table tbody tr {
  width: 100%;
  text-align: center;
}
.student-pdf-content table tbody tr td {
  border: 1px solid black;
  padding: 10px 90px;
  width: 100%;
  text-align: center;
}
.selected-school {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.selected-school h2 {
  text-align: center;
  margin-top: 0;
}
.selected-school thead tr th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.selected-school tbody tr td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.student-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.student-details h2 {
  text-align: center;
}
.student-details table {
  text-align: center;
}
.siblings-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.siblings-details h2 {
  text-align: center;
  margin-top: 0;
}
.siblings-details thead tr th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.siblings-details tbody tr td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
.applied-category-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.applied-category-details h2 {
  text-align: center;
  margin-top: 0;
}
.applied-category-details thead tr th {
  border: 1px solid black;
  padding: 2px 15px;
  text-align: center;
}
.applied-category-details tbody tr td {
  border: 1px solid black;
  padding: 2px 15px;
  text-align: center;
}
.other-document-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.other-document-details h2 {
  text-align: center;
  margin-top: 0;
}
.other-document-details thead tr th {
  border: 1px solid black;
  padding: 2px 15px;
  text-align: center;
}
.other-document-details tbody tr td {
  border: 1px solid black;
  padding: 2px 15px;
  text-align: center;
}
.application-status {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.application-status h2 {
  text-align: center;
  margin-top: 0;
}
.application-status ul {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
}
.aggrement-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
}
.aggrement-wrapper p {
  padding: 2px 15px;
}
.aggrement-wrapper table tbody td {
  border: 1px solid black;
  padding: 5px 80px;
  text-align: center;
}
</style>
{% set classes = ['eck-entity'] %}
<div{{ attributes.addClass(classes) }}>
  <header>
    <img src="{{ header_logo_uri }}">
    <h1>{{ 'School Education Department'|t }}</h1>

    {% set current_time = "now"|date("d/m/Y h:ia") %}
    <p>{{ 'Date'|t ~ ':' ~ current_time }}</p>
    <p>Academic Details: {{ content.field_academic_year[0]['#markup'] }}</p>

  </header>
	<section class="location-details">
      <h2>{{ "Applicant's Location Details"|t }}</h2>
      <div class="student-pdf-content">
        <table>
          <tbody>
            <tr>
              {% set parts = content.field_location[0]['#markup']|split('»') %}
              <td><strong>{{ 'District'|t }}</strong></td>
              <td>{{ parts[0]|trim|t }}</td>
            </tr>
            <tr>
              <td><strong>{{ 'Block'|t }}</strong></td>
              <td>{{ parts[1]|trim|t }}</td>
            </tr>
            <tr>
              {% set location = content.field_location[0]['#markup'] %}
              {% set count = location|split('»')|length - 1 %}
              {% set area_type = count == 4 ? 'Urban' : 'Rural' %}
              <td><strong>{{ 'Rural/Urban'|t }}</strong></td>
              <td>{{ area_type }}</td>
            </tr>
            <tr>
              {% if area_type == 'Rural' %}
              {% set third_set = 'Gram Panchayat' %}
              {% set _set = 2 %}
              {% set ward = 3 %}
              {% else %}
              <td><strong>{{ 'Nagriya Nikaye'|t }}</strong></td>
              <td>{{ parts[2]|trim|t }}</td>
						</tr>
						<tr>
              {% set third_set = 'Ward' %}
              {% set _set = 3 %}
              {% set ward = 4 %}
              {% endif %}
              <td><strong>{{ third_set|t }}</strong></td>
              <td>{{ parts[_set]|trim|t }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'Habitation'|t }}</strong></td>
                <td>{{ parts[ward]|trim|t }}</td>
            </tr>
            <tr>
              <td><strong>{{ 'Residential Address'|t }}</strong></td>
              <td>{{ content.field_residential_address[0]['#context']['value'] }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'Pincode'|t }}</strong></td>
                <td>{{ content.field_pincode[0]['#markup'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </section>
  <section class="selected-school">
    <h2>{{ 'Selected Schools And Preferences'|t }}</h2>
    <table>
      <thead>
        <tr>
          <th>{{ 'Preference'|t }}</th>
          <th>{{ 'Block Officer'|t }}</th>
          <th>{{ 'Udise Code'|t }}</th>
          <th>{{ 'School Name'|t }}</th>
          <th>{{ 'Class'|t }}</th>
          <th>{{ 'Medium'|t }}</th>
          <th>{{ 'Total RTE Seats'|t }}</th>
        </tr>
      </thead>
      <tbody>
          {% for item in preferred_school_details %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ 'Block Officer Name: ' ~ item.block_admin_name ~ ', Block officer Number: ' ~ item.block_admin_number }}</td>
                <td>{{ item.school_udise_code }}</td>
                <td>{{ item.school_name }}</td>
                <td>{{ item.class }}</td>
                <td>{{ item.medium }}</td>
                <td>{{ item.rte_seats }}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  </section>
  <section class="student-details">
        <h2>{{ 'Applicant Details'|t }}</h2>
        <div class="student-pdf-content">
				  <table>
					  <tbody>
						  <tr>
                <td><strong>{{ 'Application Number'|t }}</strong></td>
                <td>{{ content.field_student_application_number[0]['#context']['value'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Applicant Name'|t }}</strong></td>
                <td>{{ content.field_student_name[0]['#context']['value'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Applicant Aadhar Number'|t }}</strong></td>
                <td>{{ content.field_student_aadhar_number[0]['#context']['value'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Gender'|t }}</strong></td>
                <td>{{ content.field_gender[0]['#markup'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Date of Birth'|t }}</strong></td>
                <td>{{ content.field_date_of_birth[0]['#text'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Caste'|t }}</strong></td>
                <td>{{ content.field_caste[0]['#markup'] }}</td>
              </tr>
              {% set parent_type = content.field_parent_type[0]['#markup'] %}
              {% set single_parent_type = content.field_single_parent_type[0]['#markup'] %}
              {% if parent_type == 'Father & Mother' or (parent_type == 'Single Parent' and single_parent_type == 'Father') %}
                <tr>
                  <td><strong>{{ "Father's Name"|t }}</strong></td>
                  <td>{{ content.field_father_name[0]['#context']['value'] }}</td>
                </tr>
                <tr>
                  <td><strong>{{ "Father's Aadhar Number"|t }}</strong></td>
                  <td>{{ content.field_father_aadhar_number[0]['#context']['value'] }}</td>
                </tr>
              {% endif %}
              {% if parent_type == 'Father & Mother' or (parent_type == 'Single Parent' and single_parent_type == 'Mother')%}
                <tr>
                  <td><strong>{{ "Mother's Name"|t }}</strong></td>
                  <td>{{ content.field_mother_name[0]['#context']['value'] }}</td>
                </tr>
                <tr>
                  <td><strong>{{ "Mother's Aadhar Number"|t }}</strong></td>
                  <td>{{ content.field_mother_aadhar_number[0]['#context']['value'] }}</td>
                </tr>
              {% endif %}
              {% if parent_type == 'Guardian' %}
                <tr>
                  <td><strong>{{ "Guardian's name"|t }}</strong></td>
                  <td>{{ content.field_guardian_name[0]['#context']['value'] }}</td>
                </tr>
                <tr>
                  <td><strong>{{ "Guardian's Aadhar Number"|t }}</strong></td>
                  <td>{{ content.field_gaurdian_aadhar_number[0]['#context']['value'] }}</td>
                </tr>
              {% endif %}
							<tr>
                <td><strong>{{ 'Mobile Number'|t }}</strong></td>
                <td>{{ content.field_mobile_number[0]['#plain_text'] }}</td>
              </tr>
							<tr>
                <td><strong>{{ 'Religion'|t }}</strong></td>
                <td>{{ content.field_religion[0]['#markup'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Has HIV'|t }}</strong></td>
                <td>{{ content.field_hiv[0]['#markup'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Single Child'|t }}</strong></td>
                <td>{{ content.field_single_girl_child[0]['#markup'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Orphan'|t }}</strong></td>
                <td>{{ content.field_orphan[0]['#markup'] }}</td>
              </tr>
              <tr>
                <td><strong>{{ 'Siblings'|t }}</strong></td>
                <td>{{ content.field_has_siblings[0]['#markup'] }}</td>
              </tr>
						</tbody>
					</table>
				</div>
  </section>
  {% set siblings_details = content.field_has_siblings[0]['#markup'] %}
  {% if (siblings_details == 'Yes') %}
    <section class="siblings-details">
      <h2>{{ 'Applicant Details'|t }}</h2>
      <table>
        <thead>
          <tr>
          <th>{{ 'Name'|t }}</th>
          <th>{{ 'Class'|t }}</th>
          <th>{{ 'School Name'|t }}</th>
          <th>{{ 'Aadhar Number'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in content.field_siblings_details[0]['#rows'] %}
          <tr>
            <td>{{ item.data.field_name }}</td>
            <td>{{ item.data.field_current_class }}</td>
            <td>{{ item.data.field_school }}</td>
            <td>{{ item.data.field_aadhaar_card|default('N/A') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endif %}
  <section class="applied-category-details">
        <h2>{{ 'Qualification Documents'|t }}</h2>
        <table>
          <thead>
            <tr>
              <th>{{ 'Applied Class'|t }}</th>
              <th>{{ 'Qualification '|t }}</th>
              <th>{{ 'Basic Documentation'|t }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ content.field_applied_category[0]['#markup'] }}</td>
              <td>{{ content.field_ability[0]['#markup']|default('N/A') }}</td>
              <td>{{ content.field_document[0]['#markup']|default('N/A') }}</td>
            </tr>
          </tbody>
        </table>
  </section>
  <section class="other-document-details">
      <h2>{{ 'Other Documents'|t }}</h2>
      <table>
        <thead>
          <tr>
            <th>{{ 'Birth Proof'|t }}</th>
            <th>{{ 'Address Proof'|t }}</th>
            <th>{{ 'Identity Proof'|t }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ content.field_birth_proof[0]['#markup'] }}</td>
            <td>{{ content.field_address_proof[0]['#markup'] }}</td>
            <td>{{ content.field_identity_proof[0]['#markup'] }}</td>
          </tr>
        </tbody>
      </table>
  </section>
  <section class="application-status">
    <h2>{{ 'Application Status'|t }}</h2>
    {% for item in content.field_student_verification[0]['#items'] %}
      <ul>
        <li>{{ item }}</li>
      </ul>
    {% endfor %}
  </section>
  <footer class="aggrement-wrapper">
      <h3>{{ 'Agreement'|t }}</h3>
      <p>{{ "I, the father/mother/guardian of child " }}<strong>{{ content.field_student_name[0]['#context']['value'] }}</strong>{{ ", hereby declare that, to the best of my knowledge and belief, the above information is true and correct. I have read and understood all the notification provisions in this regard. I will present all the documents selected in the application at the time of verification before the block officer. If any information is found to be false or incorrect upon verification, my child's admission may be canceled, and I am liable for action to be taken against me as per the law."|t }}</p>
		  <table>
		  	<tbody>
		  		<td>{{ 'Signature of Parent/Guardian'|t }}</td>
		  		<td>{{ 'Signature of Officer'|t }}</td>
		  	</tbody>
		  </table>
  </footer>
</div>
