{#
/**
 * @file
 * Default theme implementation to display an ECK entity.
 *
 * Available variables:
 * - eck_entity: The full ECK entity with limited access to object properties
 *   and methods. Only "getter" methods (method names starting with "get",
 *   "has", or "is") and a few common methods such as "id" and "label" are
 *   available. Calling other methods (such as node.delete) will result in an
 *   exception.
 * - content: All ECK entity items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_eck_entity()
 *
 * @ingroup themeable
 */
#}
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table tbody {
    text-align: center;
  }
  .eck-entity header {
    text-align: center;
  }
  .eck-entity header h1 {
    margin: 0;
  }
  .eck-entity header p {
    margin: 5px 0;
  }
  .eck-entity header img {
    height: 120px;
    width: 120px;
  }
  .school-pdf-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  .school-pdf-wrapper h2 {
    text-align: center;
    margin: 0;
  }
  .school-pdf-wrapper table {
    text-align: center;
  }
  .school-pdf-content table tbody tr {
    width: 100%;
    text-align: center;
  }
  .school-pdf-content table tbody tr td {
    border: 1px solid black;
    padding: 2px 60px;
    width: 100%;
    text-align: center;
  }
  .education-level-wrapper h2 {
    text-align: center;
    margin: 0;
  }
  .education-level-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .education-level-wrapper thead tr th {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .education-level-wrapper tbody tr td {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .entry-class-wrapper {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
  }
  .seat-details-wrapper h2 {
    text-align: center;
    margin: 0;
  }
  .seat-details-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .seat-details-wrapper thead tr th {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .seat-details-wrapper tbody tr td {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .fee-info-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .fee-info-wrapper h2 {
    text-align: center;
    margin: 0;
  }
  .fee-info-wrapper thead tr th {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .fee-info-wrapper tbody tr td {
    border: 1px solid black;
    padding: 2px 15px;
    text-align: center;
  }
  .aggrement-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }
  .aggrement-wrapper table tbody td {
    border: 1px solid black;
    padding: 5px 80px;
    text-align: center;
  }
  .aggrement-wrapper h3 {
    margin: 0;
  }
  .aggrement-wrapper p {
    margin: 4px;
  }
</style>
{% set classes = ['eck-entity'] %}
<div{{ attributes.addClass(classes) }}>
    <header>
        <img src="{{ url('<front>') }}profiles/contrib/rte_mis/modules/rte_mis_school/asset/img/statelogo.png">
        <h1>{{ 'School Education Department'|t }}</h1>

        {% set current_time = "now"|date("d/m/Y h:ia") %}
        <p>{{ 'Date'|t ~ ':' ~ current_time }}</p>
        <p>{{ content.field_academic_year['#title'] ~ ': ' ~ content.field_academic_year[0]['#markup'] }}</p>

    </header>
    <section class="school-pdf-wrapper">
        <h2>{{ 'User Details'|t }}</h2>
        <div class="school-pdf-content">
            <table>
                <tbody>
                    <tr>
                        <td><strong>{{ 'Udise Code'|t }}</strong></td>
                        <td>{{ term_details.name.value }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ content.field_school_name['#title'] }}</strong></td>
                        <td>{{ content.field_school_name[0]['#context']['value'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Email Id'|t }}</strong></td>
                        <td>{{ user.getEmail() }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Mobile Number'|t }}</strong></td>
                        <td>{{ user.field_phone_number.value }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'School Type'|t }}</strong></td>
                        <td>{{ term_details.field_aid_status.value }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'School Recognition year'|t }}</strong></td>
                        <td>{{ content.field_recognition_year[0]['#markup'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'School Administrator Name'|t }}</strong></td>
                        <td>{{ content.field_school_administrator_name[0]['#context']['value'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'School Administrator Designation'|t }}</strong></td>
                        <td>{{ content.field_school_administrator_desig[0]['#context']['value'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Minority'|t }}</strong></td>
                        {% if term_details.field_minority_status.value == 'non_minority' %}
                        <td>No</td>
                        {% else %}
                        <td>Yes</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><strong>{{ content.field_full_address['#title'] }}</strong></td>
                        <td>{{ content.field_full_address[0]['#context']['value'] }}</td>
                    </tr>
                    <tr>
                        {% set parts = content.field_location[0]['#markup']|split('»') %}
                        <td><strong>{{ 'District'|t }}</strong></td>
                        <td>{{ parts[0]|trim|t }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Development Block'|t }}</strong></td>
                        <td>{{ parts[1]|trim|t }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Rural/Urban'|t }}</strong></td>
                        <td>{{ term_details.field_type_of_area.value|t }}</td>
                    </tr>
                    <tr>
                        {% if term_details.field_type_of_area.value == 'Rural' %}
                        {% set third_set = 'Gram Panchayat' %}
                        {% set _set = 2 %}
                        {% set ward = 3 %}
                        {% else %}
                        <td><strong>{{ 'Nagriya Nikaye'|t }}</strong></td>
                        <td>{{ parts[2]|trim|t }}</td>
						</tr>
						<tr>
                        {% set third_set = 'Ward' %}
                        {% set _set = 3 %}
                        {% set ward = 4 %}
                        {% endif %}
                        <td><strong>{{ third_set|t }}</strong></td>
                        <td>{{ parts[_set]|trim|t }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Habitation'|t }}</strong></td>
                        <td>{{ parts[ward]|trim|t }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ content.field_pincode['#title'] }}</strong></td>
                        <td>{{ content.field_pincode[0]['#markup'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Longitude'|t }}</strong></td>
                        <td>{{ content.field_geolocation[0]['#lng'] }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ 'Latitude'|t }}</strong></td>
                        <td>{{ content.field_geolocation[0]['#lat'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="education-level-wrapper">
        <h2>{{ 'Education Level'|t }}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ 'Board Type'|t }}</th>
                    <th>{{ 'Education level'|t }}</th>
                    <th>{{ 'From class'|t }}</th>
                    <th>{{ 'Up to class'|t }}</th>
                    <th>{{ 'Category'|t }}</th>
                    <th>{{ 'Medium'|t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in content.field_education_details[0]['#rows'] %}
                <tr>
                    <td>{{ item['data']['field_board_type'] }}</td>
                    <td>{{ item['data']['field_education_level'] }}</td>
                    <td>{{ item['data']['field_education_level_from'] }}</td>
                    <td>{{ item['data']['field_education_level_to'] }}</td>
                    <td>{{ item['data']['field_education_type'] }}</td>
                    <td>{{ item['data']['field_medium'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="entry-class-wrapper">
        <h2>{{ 'Entry Classes'|t }}</h2>
        <p>{{ 'Entry Class'|t ~ ' - ' ~ content.field_default_entry_class[0]['#markup'] ~ ', ' ~ content.field_optional_entry_class[0]['#markup'] }}</p>
    </section>
    <section class="seat-details-wrapper">
        <h2>{{ 'RTE Seats Details'|t }}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ 'Entry Class'|t }}</th>
                    <th>{{ 'Category'|t }}</th>
                    <th>{{ 'Total number of new students of hindi to be enrolled'|t }}</th>
                    <th>{{ 'Total number of new students of hindi to be enrolled in RTE 12(1)(C)'|t }}</th>
                    <th>{{ 'Total number of new students of english to be enrolled.'|t }}</th>
                    <th>{{ 'Total number of new students of english to be enrolled in RTE 12(1)(C)'|t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in content.field_entry_class[0]['#rows'] %}
                <tr>
                    <td>{{ item['data']['field_entry_class'] }}</td>
                    <td>{{ item['data']['field_education_type'] }}</td>
                    <td>{{ item['data']['field_total_student_for_hindi'] }}</td>
                    <td>{{ item['data']['field_rte_student_for_hindi'] }}</td>
                    <td>{{ item['data']['field_total_student_for_english'] }}</td>
                    <td>{{ item['data']['field_rte_student_for_english'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="fee-info-wrapper">
        <h2>{{ 'Fee information in S-2023-24'|t }}</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ 'Serial Number'|t }}</th>
                    <th>{{ 'Education Level'|t }}</th>
                    <th>{{ 'Medium'|t }}</th>
                    <th>{{ 'Class'|t }}</th>
                    <th>{{ 'School Fees'|t }}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in fee_details %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item['education_level'] }}</td>
                    <td>{{ item['medium'] }}</td>
                    <td>{{ item['class'] }}</td>
                    <td>{{ item['fee'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <footer class="aggrement-wrapper">
        <h3>{{ 'Agreement'|t }}</h3>
        <p>{{ 'I/We confirm and certify that the information mentioned above is correct and true to the best of our knowledge. We will be responsible for any omission or error in all details given in printed information.'|t }}</p>
        <p><strong>{{ 'This SCHOOL COPY should be submitted to the BEO and then to the DEO after getting the original SEAL and signature of the Principal.'|t }}</strong></p>
		<table>
			<tbody>
				<td>{{ 'Principal'|t }}</td>
				<td>{{ 'Block Officer'|t }}</td>
				<td>{{ 'District Officer'|t }}</td>
			</tbody>
		</table>
    </footer>
</div>
