{# site-pre-menu-text-header.html.twig #}

{# Output the block text #}
<p>{{ values.block_text }}</p>

<a href="mailto:{{ values.block_email }}">{{ values.block_email }}</a>

<a href="tel:{{ values.block_phone }}">{{ values.block_phone }}</a>
